asgiref==3.10.0
Django==5.2.8
django-tailwind==4.4.1
psycopg2-binary==2.9.11
pytailwindcss==0.3.0
python-dotenv==1.2.1
sqlparse==0.5.3
django-filter==24.2
django-crispy-forms==2.3
crispy-tailwind==1.0.3
geoip2==4.8.0